@import "../mixins/flex.scss";
@import "../mixins/font.scss";
@import "../mixins/size.scss";
@import "../consts/colors.scss";

.button-container {
    min-width: 107px;
    height: 36px;
    @include flex(row, flex-start, center);
    background-color: $blue;
    border-radius: 3px;
}

.button-text {
    width: 100%;
    @include font('Source Sans Pro', $height: 20px);
    text-align: center;
    color: $white;
    padding: 8px;
}

.danger {
    background-color: $red;
}