@import "../mixins/flex.scss";
@import "../mixins/font.scss";
@import "../mixins/size.scss";
@import "../consts/colors.scss";

.button-container {
    @include flex(row, flex-start, center);
    min-width: 76px;
    height: 36px;
    border-radius: 3px;
    background-color: $white;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.button-text {
    width: 100%;
    @include font("Source Sans Pro", $height: 20px);
    text-align: center;
    color: $base;
    padding: 8px 16px;
    border: 1px solid $form-button-border;
    border-radius: 2px;
    user-select: none;
}

.action {
    background-color: $blue;

    & > .button-text {
        color: $white;
        border: none;
    }

    border: none;
}

.danger {
    background-color: $red;

    & > .button-text {
        color: $white;
        border: none;
    }

    border: none;
}
