@import "../../mixins/Flex.scss";
@import "../../mixins/Font.scss";
@import "../../mixins/Size.scss";
@import "../../consts/colors.scss";
@import "./TableContent.scss";

.table-header {
    width: 100%;
    margin-bottom: 14px;
}

.table-header-row {
    @include flex(row, flex-start, center);
    padding: 0 22px;

    & > .table-cell {
        user-select: none;
        font-weight: 600;
        &:first-child {
            width: auto;
        }

        &:not(:last-child) {
            margin-right: 43px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.table-filters {
    border: none;
    & > .table-cell {
        font-weight: $medium;
        text-transform: uppercase;
    }
}

.sort-cell {
    &:hover {
        cursor: pointer;
    }
}

.sort-cell-wrapper {
    @include flex(row, flex-start, center);
}

.sort-arrow-wrapper {
    @include flex(column, flex-start, flex-start);
    height: 100%;
    margin-left: 6px;
}

.sort-asc {
    transform: rotate(0deg);
}

.sort-desc {
    transform: rotate(180deg);
}

.sort-arrow {
    @include size(14px, 8px);

    &:first-child {
        margin-bottom: 2px;
    }
}
