@import "../mixins/flex.scss";
@import "../mixins/font.scss";
@import "../mixins/size.scss";
@import "../consts/colors.scss";

.filters-container {
    @include flex(row, flex-start, center);
    @include font("Montserrat");
    color: $filter;
}

.filters-list {
    @include flex(row, flex-start, center);
    margin-left: 10px;
}

.actions {
    @include flex(row, flex-start, center);
    margin-left: auto;

    & > .button-container:not(:last-child) {
        margin-right: 13px;
    }
}
