$gradient-start: #f1f2f7;
$gradient-middle: #f7f8fc;
$gradient-end: #f9f9fb;

$active: rgba(0, 175, 111, 0.2);
$base: #000000;
$blue: #2e3ed0;
$box-shadow: rgba(203, 203, 207, 0.5);
$dark-graphite: #585e6b;
$dark-grey: #5e6470;
$deep-blue: #004495;
$filter: #777777;
$graphite: #8a8e97;
$green: #0b8357;
$grey: #384052;
$light-border: #d1d2d4;
$new: rgba(0, 98, 214, 0.2);
$off-white: #efeff4;
$red: #c72929;
$selected-row: #f1f2f7;
$white: #ffffff;
