$gradient-start: #f1f2f7;
$gradient-middle: #f7f8fc;
$gradient-end: #f9f9fb;

$base: #000000;
$blue: #2e3ed0;
$dark-grey: #5e6470;
$filter: #777777;
$grey: #384052;
$off-white: #efeff4;
$red: #c72929;
$white: #ffffff;
